/Projeto exemplo/Projeto/db
/Projeto exemplo/Projeto/incremental_db
/Projeto exemplo/Projeto/simulation
/Projeto exemplo/Projeto/output_files
/Projeto exemplo/Projeto/BitTimingCAN_nativelink_simulation.rpt
/CAN-Controller/db
/CAN-Controller/incremental_db
/CAN-Controller/output_files
/CAN-Controller/simulation
